# /Users/pekkis/js/pekkis/mhm-2000-remake/mhm-2000-remake/.envrc
export CI=1
export FORCE_COLOR=0
export PAGER=cat
export GIT_PAGER=cat
# Deterministic playtests when running pnpm dev:
# export VITE_RANDOM_SEED=42
